## Part One

### 1)

In [70]:
#1) Create a list with the names of every planet in the solar system (in order) [note: Pluto is not a planet]
planets = ["Mercury", "Venus", "Mars", "Earth", "Jupiter", "Saturn", "Uranus", "Neptune"]

### 2)

In [71]:
#2) Have Python tell you how many planets there are by examining your list
print(len(planets))

8

### 3)

In [72]:
#3) Use slicing to display the first four planets (the rocky planets)
print(planets[:4])

['Mercury', 'Venus', 'Mars', 'Earth']

### 4)

In [73]:
#4) Iterate through your planets and print the planet name only if it has an s at the end
for i in planets:
    if i[-1] == "s":
        print(i)

Venus
Mars
Uranus

## Part 2

### 1)

In [104]:
#1) convert temperature from kelvin to celsius and celsius to kelvin
def celsius_to_kelvin(temp, from_kelvin = True):
    """ convert temperature from kelvin to celsius and celsius to kelvin """
    if from_kelvin == True:
        temp = temp - 273
    elif from_kelvin == False:
        temp = temp + 273
    return temp

### 2)

In [103]:
#2) convert temperature to fahrenheit from either celsius or kelvin
def to_fahrenheit(temp, from_celsius = True):
    """ convert temperature to fahrenheit from either celsius or kelvin  """
    if from_celsius == False:
        temp = celsius_to_kelvin(temp, from_kelvin = True)
    temp = temp * 9/5 + 32
    return temp

### 3)

In [102]:
#3) Check that the outputs are sensible by trying a few examples
celsius_to_kelvin(23, from_kelvin = False)

296

In [101]:
to_fahrenheit(300, from_celsius = False)

80.6

### 4)

In [91]:
# 4) Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin
def from_fahrenheit(temp, to_kelvin = True):
    """ convert temperature from fahrenheit to either celsius or kelvin  """
    temp = (temp - 32) * 5/9
    if to_kelvin == True:
        temp = celsius_to_kelvin(temp, from_kelvin == False)
    return temp

### 5)

In [98]:
#5) Write a function that takes two arguments (feet and inches) and returns height in meters. Verify it gives sensible answers
def height_in_meters(feet, inches):
    """ convert height in feet and inches to meters"""
    inches = (feet * 12) + inches
    meters = inches * 0.0254
    return meters

### 6)

In [99]:
#6. Write a function takes one argument (height in meters) and returns two arguments (feet and inches).(Consult the tutorial on numbers if you are stuck on how to implement this.)
def height_in_feet_and_inches(meters):
    """ convert height in meters to feet and inches"""
    feet = meters * 3.28084
    inches = round(12 * (feet - math.floor(feet)),2)
    feet = math.floor(feet)
    return feet, inches

### 7)

In [100]:
#7) Verify that the “round trip” conversion from and back to meters is consistent. Check for 3 different values of height in meters
height_in_feet_and_inches(height_in_meters(5,7))

(5, 7.0)

In [105]:
height_in_meters(*height_in_feet_and_inches(1.8))

1.800098

In [106]:
height_in_feet_and_inches(height_in_meters(6,0))

(6, 0.0)